<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - covid19_reliefApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="nav-con">
            <a class="logo-con"  asp-area="" asp-controller="Home" asp-action="Index"></a>
            <!-- logo-con -->
            <div class="user-info-con">
                <div class="registration-con">
                    <div class="spacer"></div>
                    <a class="sign-up"  asp-area="" asp-controller="" asp-action=""> Sign Up /</a>
                    <a class="sign-in" asp-area="" asp-controller="" asp-action=""> Sign In</a>
                </div>

                <div class="profile-con">
                    <div class="spacer-2"></div>
                    <div class="picture-con">
                        <a><img src="https://image.flaticon.com/icons/svg/847/847969.svg" class="rounded-circle z-depth-0">
                        </a>
                    </div>
                </div>


            </div>
            <!-- user-info-con -->
        </div>
        <!-- nav-con -->

    </header>




            @RenderBody()
 


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - covid19_reliefApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
